<table class="table table-bordered">

    <thead>
        <tr>
            <th>Identification  </th>
            <th>Nombre</th>
            <th> Apellido </th>
            <th> Edad </th>
            <th>Telefono</th>
            <th>Fecha de creacion</th>
            <th>Fecha de Modificacion</th>
        </tr>
    </thead>
    <%@personas.each do |persona|%>
		
    	<tbody>
        	<tr>
        		<td><%=persona.id%></td>
            	<td><%=persona.nombre%></td>
            	<td><%=persona.apellido%> </td>
            	<td><%=persona.edad%></td>
            	<td><%=persona.telefono%></td>
            	<td> <%=persona.created_at%> </td>
            	<td> <%=persona.updated_at%> </td>
            	<td><%=link_to "Editar", edit_persona_path(persona)%></td>
            	<td><%=link_to "Borrar",
            	 persona_path(persona), :method => :delete%></td>
                <td><%=link_to "Ver", persona_path(persona)%></td>
        	</tr>
        
    	</tbody>
    <%end%>

</table>	
	
	<!--<%=link_to "Crear persona", new_persona_path%>-->

