<table class="table table-bordered">

    <thead>
    </thead>
 	<tbody>
    	<tr>
        	<td>Nombre: <%=@persona.nombre%></td>
        </tr>
        <tr>        	
        	<td>Apellido: <%=@persona.apellido%></td>
        </tr>   
        <tr>
        	<td>.Edad: <%=@persona.edad%></td>
        </tr> 
        <tr>
        	<td>Telefono: <%=@persona.telefono%></td>
        </tr>
        <tr>
        	<td>
        		<%= link_to '<button type="button">Back to Ingresar</button>'.html_safe, personas_path %>
				
				<%= link_to '<button type="button">Whatch properties</button>'.html_safe, persona_propiedades_path(@persona) %>        
         	</td>
         </tr>
        
    </tbody>
    

</table>
